/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products-row {
    width: 65%;
    margin: auto;
    padding: auto 30px;
}

.item-card{
    width: calc((96% - 60px) / 3);
    display: inline-block;
    margin: calc((100% - (96% - 60px)) / 6)
}

.image-container {
    width: 100%;
    position: relative;
}

.item-card img {
    width: 100%;
}

.hidden-img {
    display: none;
}

.item-card:hover .displayed-img {
    display: none;
}

.item-card:hover .hidden-img {
    display: block;
}

.heart-box {
    background-color: #FFFFFF;
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 10px;
    text-align: center;
    line-height: 2em;
}

.banner{
    position: absolute;
    bottom: 10px;
    color: #FFFFFF;
}

.banner div {
    display: inline-block;
    padding: 0.2em;
}

.discount {
    background-color: #eb0037;
}

.eco {
    background-color: #00875a;
}

.discounted-price {
    color: #eb0037;
}